<div class="flex flex-col gap-2 justify-between p-8 bg-[#1212124D] border border-[#393939] rounded-[32px] h-full w-full grow">
  <h2 class="font-bold text-xl text-[#858585]">About me</h2>
  <p class="text-[#858585] w-full max-lg:text-sm">
    Hello, I'm Elián. A <b>Full Stack Developer</b> Junior working from Mar del
    Plata, Argentina. I started my path as a Full Stack programmer in 2023
    learning the basics with NodeJS and then taking care of the Front
    especially with ReactJS which gave me the possibility to create both
    individual and group projects. Likewise, taking advantage of ReactJS
    tools, I am expanding to mobile with React Native.
  </p>
</div>